@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a; /* Set global background to #0A0A0A */
  --foreground: #ededed; /* Set global text color for better contrast */
}

body {
  color: var(--foreground); /* Text color */
  background: var(--background); /* Background color */
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-xy {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-xy {
  animation: gradient-xy 5s ease infinite;
  background-size: 200% 200%;
}

/* Global Tailwind setup */
html {
  @apply scroll-smooth;
}
